<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">



<bean id="panda" class="com.rtpl.common.Panda" autowire="byType"></bean>


<bean id="kunfu" class="com.rtpl.common.Kunfu">

<property name="name" value="Shao lin"></property>
</bean>

</beans>